@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Task19_Core_empty.Models;
@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@{//List<PersonModel>
    string Action;


}
 @if (@Model.Id!=0) 
     Action="Update";
 else 
    Action="Add";

@section CustomCSS{

 <!-- <link href="style.css" rel="stylesheet" />
    -->
}
<section class=" section ">
    <h1 class="reset h1__title">Here is the my Phone Book</h1>
<h2 class="reset phone-panel__title">My Person Contact</h2>

    <div class="phone--panel__link-area">
            <a asp-controller="PhoneBook" asp-action="Index" class="a-reset">Back</a>
            
             
             <a class="a-reset a-update" href="#">@Action</a>
             @if (@Model.Id!=0) 
             {
                 <ul>
                 <li><button type="submit" method="post" name="Id"  value="@Model.Id" form="form_person" formaction="Delete" class="btn-reset a-update btn-delete" >DelFormation</button>
                 </li>             
                  <li>
                     <button  class="btn-reset a-update btn-delete" >
                       <a class="a-reset a-update" href="../Delete/@Model.Id" >DelLink</a>
                  </button>
                  </li>
                  <li>
                 @using(Html.BeginForm("Delete","MyPersonInfo",FormMethod.Post))  
                 {
                        @Html.TextBox("Id",(object)@Model.Id,new{@class ="hidden"})
                      <button  class="btn-reset a-update btn-delete" >DelForm</button>
                 }
                 </li>
                 </ul>
             }
            <a class="a-reset a-cancel a-cancel__action" href="#">Cancel</a>
        </div>
    @using(Html.BeginForm(@Action,"MyPersonInfo",FormMethod.Post, new{@class="phone-panel", @id="form_person"}))
    {
        
        <ul class="list-reset phone-panel__list">
            <li class="phone-panel__item ">
                <label for="Name">Name</label><br />
                <input class="phone-panel__textbox phone-panel__textbox_action" type="text" data-val="true" data-val-required="The Name field is required." id="Name" name="Name" value="@Model.Name" />
                <span class="field-validation-valid" data-valmsg-for="Name" data-valmsg-replace="true" />
             </li>

            <li class="phone-panel__item ">
         @*     @Html.Label("Name1","Имя", new{@class ="phone-panel__label"})
            @Html.TextBox("Name1",(object)@Model.Name,new{@,id="Name1"})
                  *@
                        </li>
                      
            <li class="phone-panel__item ">
                @Html.Label("Surname","Фамилия",new{@class ="phone-panel__label"})
                @Html.TextBox("Surname", (object)@Model.Surname, new { @class = "phone-panel__textbox phone-panel__textbox_action", @id = "Surname" })
                <span class="field-validation-valid" data-valmsg-for="Surname" data-valmsg-replace="true" />
        </li>
           <li class="phone-panel__item ">
                @Html.Label("Thirdname","Отчество",new{@class ="phone-panel__label"})
            @Html.TextBox("Thirdname",(object)@Model.ThirdName,new{@class ="phone-panel__textbox phone-panel__textbox_action", @id="Thirdname"})
            </li>
              <li class="phone-panel__item ">
                @Html.Label("PhoneNumber","Телефон",new{@class ="phone-panel__label"})
            @Html.TextBox("PhoneNumber",(object)@Model.PhoneNumber,new{@class ="phone-panel__textbox phone-panel__textbox_action", @id="Phone"})
                <span class="field-validation-valid" data-valmsg-for="PhoneNumber" data-valmsg-replace="true" />
        </li>
            <li class="phone-panel__item ">
                    @Html.Label("Address","Адрес",new{@class ="phone-panel__label"})
                @Html.TextBox("Address",(object)@Model.Address,new{@class ="phone-panel__textbox phone-panel__textbox_action", @id="Address"})
                </li>
            <li class="phone-panel__item ">
                    @Html.Label("Description","Описание",new{@class ="phone-panel__label"})
                @Html.TextArea("Description",@Model.Description,5,10,new{@class ="phone-panel__textbox phone-panel__textbox_action", @id="Description"})
                </li>
            <li class="phone-panel__item ">
               <!-- <input type="submit" action="Update" value="Save" class="btn-yellow btn-yellow__action phone-panel__btn-update ">
                    -->
                         <button type="submit"  name="Id" value=@Model.Id class="btn-yellow btn-yellow__action phone-panel__btn-update ">@Action</button>  
            </li>
        </ul>
    }
</section>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.5.1.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.10/jquery.validate.unobtrusive.min.js"></script>